body{
    background: url("../images/results.jpeg") no-repeat ;
    background-size: 100%;
    position: relative; 
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: rgb(0,0,50,6);
    overflow-x: hidden;
    padding-bottom: 50px;
    margin-top: 40px;
}
#navbar{
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
#navbar ul{
    display: flex;
    align-content: center;
    justify-content: center;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0,0,50,6);
    font-size: 1.25em;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
}
#navbar ul li a:hover{
    border-bottom: 3px solid black;
}
.regform{
    background-color: transparent;
    margin:auto;
    margin-top: 20px;
    color: rgb(0,0,50,6);
    font-size: 1.2em;
    font-weight: bold;
    padding:10px 0px 10px 0px;
    text-align:center;
}
.main{
    background-color: transparent;
    width: 50px;
    margin:auto;
}
#year{
    width: 100%;
}
